body {
    font: normal 14px 'PingFang SC','Helvetica Neue','Microsoft YaHei UI','Microsoft YaHei','Noto Sans CJK SC',Sathu,'EucrosiaUPC',sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

article {
    display: block;
    border-bottom: 1px dotted gray;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

figure.highlight table td.code pre {
    background: #000000;
    color: #ffffff;
}

a:link {
    text-decoration: none;
}

.h3 {
    font-size: 1.2rem;
}
.site-block {
    margin-bottom: 10px;
    border-bottom: 1px dashed gray;
}
.site-block .title {
    font-size: 1.2rem;
    color: #582819;
}
.site-block .label {
    font-weight: bold;
}

#header { 
    min-height: 40px;
    background: #302030 url('/img/ico-rocket.png') no-repeat;
    background-size:40px 40px;
    padding-left: 45px; 
    padding-top: 8px; 
    color: #ffffff;
}

#footer { 
    font-size: 12px;
    color: #cfcfcf;
    background: #444444;
}

#footer a{ 
    color: #ffffff;
}

.container {
    min-height: 300px;
    width: 100%;
}

.content-wrapper {
    height: 36px;
    width: 1200px;
    margin: 0 auto;
}

.box {
    display: flex;
}

.box.justify {
    justify-content: space-between;
}


.vertical {
    align-items: center;
}